@charset "utf-8";
    body {
      background-color: #edf7fa;
      color: #FFFFFF;
    }

    ul.dropdown_sub {
      background: rgba(79, 105, 128, 0.8);
    }

    .dropdown_sub li a:hover {
      color: #CCCCCC;
    }

    menu>li a:hover {
      color: #CCCCCC;
    }

    .menu>li a {
      color: #FFFFFF;
    }

    #header {
      background-color: #384a5a;
    }

    #logo {}

    #content_01 {
      background-color: #ecf9f9;
    }

    .content_update {}

    #new dl {
      background-color: #50ABA9;
    }

    #up_h2 {
      color: #50ABA9;
    }

    #topNavi li {}

    #topNavi p {
      background-color: #50ABA9;
      color: #FFFFFF;
    }

    footer {
      background-color: #384a5a;
    }

    #footer_nav {
      color: #FFFFFF;
    }

    #lect h2 {
      margin-bottom: 20px;
    }

    #lect h3 {
      color: #FFFFFF;
    }

    #lect p {
      color: #333333;
    }

    #lect li {
      color: #333333;
    }
