@charset "utf-8";
    #content_01 {
      height: 830px;
      height: 1230px\9;
      width: 1080px;
      margin-right: auto;
      margin-left: auto;
      padding-top: 10px;
      padding-bottom: 10px;
    }

    .content_update {
      height: 390px;
      width: 1080px;
      position: relative;
      margin-bottom: 20px;
      padding-bottom: 20px;
      margin-top: -10px;
    }

/* 更新情報 */

    #new {
      font-size: 16px;
      position: absolute;
      margin-top: 30px;
      top: -10px;
      *top: 0;
      line-height: 150%;
    }

    #new dl {
      overflow: auto;
      /*高さ指定を超えるとiframe風にスクロールが出る設定。全部表示させたいならこの行と下のheightの行を削除。*/
      height: 340px;
      *height: 360px;
      width: 1080px;
      margin-right: 10px;
    }

    * html #new dl {
      margin: 0;
    }

    #new p {
      margin-left: 20px;
    }

    #topNavi {
      height: 400px;
      width: 1080px;
      display: block;
    }

    #top_nav_container .nav01 {
      float: left;
      width: 385px;
      *width: 365px;
      *margin-right: 20px;
    }

    #top_nav_container .nav02 {
 	    float: left;
      width: 385px;
      *width: 365px;
    }

    #top_nav_container .nav03 {
		  float : right;
    }

    * html #top_nav_container .nav01 {
      float: left;
      width: 365px;
    }

    * html #top_nav_container .nav02 {
      float: left;
      width: 365px;
    }

    * html #top_nav_container .nav03 {
      float : right;
    }

    #top_nav_container ul {
      list-style-type: none;
      overflow: hidden;
      _zoom: 1;
      font-size: 16px;
      padding: 0px;
      margin-top: 20px;
      margin-right: 0px;
      *margin-left: 0;
      margin-bottom: 10px;
    }

    #top_nav_container li {
      float: left;
      height: 380px;
      width: 310px;
      display: inline;
    }

    #top_nav_container li a img {
      height: 65%;
      width: 100%;
      margin-bottom: 10px;
      border-style: none;
	    border-radius: 10px;
    }

    #top_nav_container li a {
      text-decoration: none;
      color: #333333;
    }

    #top_nav_container p {
      height: 90px;
      margin-top: 10px;
      padding: 5px;
      line-height: 140%;
      text-align: left;
      border-radius: 10px;
	    line-height: 1.7em;
    }

    #up_h2 {
      text-align: center;
      font-size: 18px;
      line-height: 40px;
    }

    #new a {
      color: #C2E2E1;
      font-weight: bold;
    }
