@charset "utf-8";

#content_06 {
  height: 360px;
  width: 1080px;
  margin-right: auto;
  margin-left: auto;
}

#slide{
    position: relative;

}

.first{
    position: absolute;
    z-index: 1;
    opacity: 1.0;
}

.second{
    position: absolute;
    z-index: 0;
}
